<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <div class="outer-container">
      <div class="header-container">
        <mat-toolbar color="primary" class="mat-elevation-z5">
          <button type="button" aria-label="Home" mat-icon-button>
            <mat-icon aria-label="Example home icon">home</mat-icon>
          </button>
          <span>Wijmo サンプル</span>
        </mat-toolbar>
      </div>
      <div class="router-outlet-container">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>